header {
    max-width: 100%!important;
    margin-left: 2px;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.2); */

    /* background: linear-gradient(to top, transparent, rgb(39, 39, 39)); */
}

.index-logout{
    display: flex;
    flex-direction: column;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    height: 100%;
}
ul > * {
    padding: 1rem;
}
li > * {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}
nav{

    display: inline;
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.home {
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

.nav-button{
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: 500;
    font-size: 20px;
}