.container-gpt {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%!important;
  max-width: 100%;
  margin-top: 70px!important;
  height: calc(100% - 70px)!important;
}
.container-unauthorized{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  margin: auto;
}

.container-chat{
  position: relative;
  margin-top: 0;
  height: 100%!important;
  padding: 1rem;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 60%;
}

.wrapper{
  position: relative;
  top: 0;
  width: 100%;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reset-button{
  margin-right: 0;
  max-height: 3rem;
  margin-top: auto!important;
  margin-bottom: auto!important;
  /* margin: auto!important; */
}
.error-message{
  position: absolute;
  bottom: 0;
  margin-bottom: 36px;
  max-width: 220px;
  float: left;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

.alertButton:hover {
  background-color: initial;
  color: initial;
  text-decoration: initial;
}

button{
  margin: 1rem!important;
}

.input {
  padding: 1rem;
  height: 10rem;
  border: 1px solid rgb(102, 102, 102);
  margin: auto;
  max-width: 60%;
  max-height: 20rem;
}

.chat-end{
  color: rgb(105, 104, 104);
}

.chat-start{
  font-weight: 600;
}

h6{
  padding-bottom: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e; 
}

.short-text { display: none; }
.error-chat{
  white-space: pre-line;
  padding: 2rem;
  color: red;
  font-weight: 600;
}
@media (max-width: 1000px) {
  #root{
    padding: .3rem;
  }
  .input {
    padding: .5rem;
    max-width: 95%;
    height: 5rem;
    max-height: 10rem;
    font-size: .8rem;
  }
  .error-chat{
    padding: .2rem;
  }
  .container-chat{
    max-width: 90%;
  }
  h6{
    font-size: .8rem;
  }
  p{
    font-size: .8rem;
  }
  a{
    font-size: .8rem!important;
  }
  .log-out-button{
    font-size: .8rem!important;
    margin: .3rem!important;
  }
  .user-name{
    font-size: .7rem;
  }
  .short-text { display: inline-block; }
  .full-text { display: none; }
}
@media (max-width: 600px) {

}

